.hex{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 2em;
    align-items: center;
    justify-content: center;
    background-color: var(--soft-yellow);
    transition: .5s background-color;
}

.hex__btn{
    mix-blend-mode: difference;
    color: var(--soft-blue);
    padding: 1rem 2rem;
    cursor: pointer;
    border: none;
    background-color:var(--dark-blue);
    border-radius: var(--radius);
    text-transform: uppercase;
    user-select: none;
    outline: none;
    text-decoration: none;
    text-rendering: optimizeLegibility;
}

.hex__code{
    width: max-content;
    height: max-content;
    color: white;
    font-size: var(--xlarge);
    letter-spacing: .25em;
    mix-blend-mode: difference;
}